/* Estilos do logo */
.logo {
  display: none;
}

/* Estilos dos tópicos */
.topics-popup {
  display: none;
  position: absolute;
  background-color: #f9f5e8;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.topics-popup h3 {
  margin: 0;
}

.topics-popup p {
  margin: 0;
  padding: 5px 0;
}

/* Estilos da seção de imagens */
#imagens {
  background-color: #f2f2f2;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-caption {
  padding: 10px;
  background-color: #fff;
}

.image-caption h3 {
  margin: 0;
}

.image-caption p {
  margin: 5px 0;
}

.expand-button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expanded .expand-button {
  background-color: #999;
}

/* Estilos da seção de grupo */
#grupo {
  background-color: #f9f9f9;
  padding: 20px;
}

.members {
  display: flex;
  flex-wrap: wrap;
}

.member {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member h3 {
  margin: 0;
}

/* Estilos do rodapé */
footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
}
